#navbar .logo {
    float: none;
    text-align: center;
}

#navbar ul, #navbar ul li {
    float:none;
}
#navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
}

/* Showcase */
#showcase {
    height: 100%;
}
#showcase .showcase-content {
    padding-top: 70px;
    padding-bottom: 30px;
}

/* Home Info */
#home-info .info-img{
    display: none;
    
}
#home-info .info-content {
    float: none;
    width: 100%;
}
.btn {
    display: inline-block;
    font-size: 10px;
    color: #fff;
    background: rgb(240, 12, 118);
    padding: 10px;
    border: solid blue 3px;
    cursor: pointer;
    
}
/* Boxes */

.box {
    float: none;
    width: 100%;
    text-align: center;
    height: auto;
     border: solid black 3px;
}

/* About page */
#about-info .info-right, 
#about-info .info-left {
    float: none;
    width: 100%;
}
#about-info .info-right {
    margin-top: 30px;
}

.l-heading {
    text-align: center;
}

/* Contact */
#contact-info .box {
    border-bottom: #444 dotted 1px;
}
#home-info .info-content .btn {
    margin-top: -30px;
}
#home-info .info-content .etc {
    display: none;
}

.btn {
    display: block;
    font-size: 18px;
    color: #fff;
    background: rgb(240, 12, 118);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
